@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

*{
    margin: 0;
    padding: 0;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
header{
    margin-top: 57px;
    height: 59px;
}
.logo{
    font-family: 'Righteous', cursive;
    float: left;
    font-size: 24px;
    vertical-align: bottom;
}
.navs{
    text-align: center;
    display: inline;
    margin-left: 197px;
}
.nav{
    font-family: 'Roboto Mono', monospace;
    margin: 0 38px;
}
.nav:hover{
    color: #ff5202;
}
.reg{
    font-family: 'Roboto Mono', monospace;
    float: right;
    border: 1px solid black;
    padding: 18px 46px;
    vertical-align: bottom;
}
a{
    text-decoration: none;
    color: #000;
}
.title_block{
    font-family: 'Righteous', cursive;
    font-size: 62px;
    text-transform: uppercase;
    max-width: 460px;
}
.text{
    display: block;
    margin-top: 40px;
    font-family: 'Roboto Mono', monospace;
    font-size: 24px;
    border-left: 1px solid;
    padding-left: 16px;
}
.btn{
    display: inline-block;
    font-family: 'Roboto Mono', monospace;
    border: 1px solid black;
    padding: 18px 46px;
    margin-top: 40px;
}
.hover_btn{
    background: #ff5202;
    border: 1px solid #ff5202;
    color: #fff;
}
.welcome_block{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    margin-top: 130px;
}
.men{
    margin: 0 auto;
}
.about_us{
    margin-top: 130px;
    height: 330px;
    background: #262543;
    color: white;
    padding: 35px 25px;
    box-sizing: border-box;
}
.about_text{
    margin: 0 auto;
    margin-top: 55px;
}
.about_text h3{
    font-family: 'Righteous', cursive;
    font-size: 40px;
    text-transform: uppercase;
}
.about_text span{
    font-family: 'Roboto Mono', monospace;
    font-size: 12px;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.info{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.item > img{
    width: 58px;
    height: 58px;
    margin-bottom: 25px;
}
.item{
    position: relative;
    top: 25%;
}
.item > h4{
    font-size: 22px;
    font-family: 'Righteous', cursive;
    margin-bottom: 15px;
}
.item > span{
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
}
